.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF88;
    border-radius: 6dvmin;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    font-size: .4cm;
    gap: 8px;
    aspect-ratio: 16 / 9;
    align-items: center;
}
.card img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 25%;
    object-fit: cover;
    float: left;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    justify-items: center;
    text-align: center;
}
h2, p {
    margin: 0;
    margin-bottom: 10px;
}
.card-text {
    height: 100%;
    flex: auto;
}
.card-tag {
    display: flex;
    justify-items: stretch;
}
.card-tag dl {
    color: whitesmoke;
    background-color: grey;
    border-radius: 6px;
    margin: 0;
    margin-right: 10px;
    padding: 5px 10px;
}

@media screen and (max-width: 888px) {
    .card {
        max-width: calc(100vw - 40px);
        max-height: calc((100vw - 40px) / 3);
    }
}