.card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF88;
    border-radius: 36px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    font-size: .4cm;
    gap: 8px;
    aspect-ratio: 16 / 9;
    align-items: center;
    width: 100%;
    -webkit-appearance: none;
    overflow: auto;
}
.card img {
    /*去你妹的苹果，Safari中flex布局居然TMD不支持上下填充*/
    /*垃圾webkit*/
    height: calc(100% - 40px);
    width: auto;
    margin: auto 0 auto 20px;
    aspect-ratio: 1 / 1;
    border-radius: 32px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    justify-items: center;
    text-align: center;
}
h2, p {
    margin: 0;
    margin-bottom: 10px;
}
.card-text {
    /*去你妹的苹果，Safari中flex布局居然TMD不支持上下填充*/
    /*垃圾webkit*/
    margin: 20px 20px auto 0;
    height: calc(100% - 40px);
    flex: auto;
}
.card-tag {
    display: table-cell;
    justify-items: center;
}
.card-tag dd {
    display: inline-block;
    color: #333;
    border-radius: 6px;
    margin: 0;
    margin-right: 10px;
    padding: 5px 10px;
    background: #e0e0e0;
    font-weight: 800;
}
@media screen and (max-width: 888px) {
    .card {
        max-width: calc(100dvw - 40px);
        max-height: calc((100dvw - 40px) / 16 * 9);
    }
}