.dialog {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 16px 20px;
    border-radius: 24px;
    z-index: 1000;
    box-sizing: border-box;
    max-width: 400px;
    width: 400px;
    box-shadow:0 0 0 9999px #0006;
    -webkit-box-shadow:0 0 0 9999px #0006;
    -moz-box-shadow:0 0 0 9999px #0006;
    -ms-box-shadow:0 0 0 9999px #0006;
    -o-box-shadow:0 0 0 9999px #0006;
}
.dialog-title {
    display: flex;
    align-items: center;
    margin-top: -.5em;
    gap: 6px;
}
.dialog-title img {
    width: auto;
    height: 4rem;
}
.dialog-close-button {
    float: right;
    cursor: pointer;
}
.dialog-btn-group {
    float: right;
    box-sizing: border-box;
    margin: 0 !important;
}
.dialog-ok-button {
    box-sizing: border-box;
    color: white;
    margin: 0 0 0 8px;
    cursor: pointer;
    font-size: large;
    background-color: #0071e3;
    padding: 4px 10px 6px 10px;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: top;
}
@media screen and (max-width: 440px) {
    .dialog {
        max-width: calc(100dvw - 40px);
    }
}