body {
    overflow: hidden;
}
.page[data-nav="true"] {
    background-color:#f0f8ffa0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin: 24px;
    margin-top: 75px;
    border-radius: 24px;
    height: calc(100dvh - 75px - 25px);
    position: fixed;
    width: calc(100dvw - 25px * 2);
    overflow: hidden;
}
.left-menu {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    left: 0;
    padding: 16px;
    overflow-x: hidden;
}
.nav-left {
    height: calc(100dvh - 75px - 25px);;
    float: left;
    position: relative;
}
.resize-bar {
    width: 300px;
    height: inherit;
    resize: horizontal !important;
    cursor: ew-resize;
    cursor: col-resize;
    opacity: 0;
    overflow: scroll;
}
/* 拖拽线 */
.resize-line {
    position: absolute;
    right: 0; top: 0; bottom: 0;
    border-right: 2px cornflowerblue solid;
    pointer-events: none;
    overflow: hidden;
}
.resize-bar::-webkit-scrollbar {
    width: 300px;
    height: inherit;
    cursor: ew-resize;
    cursor: col-resize;
}
.nav-title {
    text-align: center;
    display:flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
}
.nav-title img {
    height: 48px;
    aspect-ratio: 1 / 1;
    margin: auto 0;
}
.nav-title p {
    position: relative;
    top: 3px;
}
.navigation-bar {
    height: calc(100% - 32px);
    width: 100%;
    max-width: calc(100dvw - 48px);
    box-sizing: border-box;
    padding: 24px 48px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
}
.navigation-bar h1 p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.navigation-bar dt {
    background-color: #afe0ff80;
    border-radius: 16px;
    padding: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.navigation-bar dt a {
    display: flex;
    gap: 4px;
    width: 100%;
}
.navigation-bar dt a p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.navigation-bar dt a img {
    height: 32px;
    width: 32px;
    aspect-ratio: 1 / 1;
    display: inline-block;
    margin: auto 8px;
}
.navigation-bar dt a p {
    font-size: 18px;
    position: relative;
    top: 3px;
}
.container {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    overflow: auto;
}
.container::-webkit-scrollbar {
    display: none;
}
.nav-group {
    margin-bottom: 20px;
}
.nav-group-title {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
}
.nav-group-title img {
    height: 32px;
    width: 32px;
    aspect-ratio: 1 / 1;
    margin: auto 0;
}
.nav-group-title p {
    position: relative;
    top: 3px;
}
.nav-group-item {
    margin: 8px 16px;
}
.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 999999px;
}
.button:hover {
    background-color: #0051a4;
}

@media screen and (max-width: 960px) {
    .page[data-nav="true"] {
        display: block;
        overflow-y: auto;
    }
    .nav-left {
        display: block;
        position: relative;
        height: auto;
        box-sizing: border-box;
        width: 100%;
    }
    .resize-bar, .resize-line {
        display: none;
    }
    .left-menu {
        position: relative;
        height: auto;
        width: 100%;
        height: initial;
        overflow: hidden;
        padding: 0;
    }
    .navigation-bar {
        position: relative;
    }
    .container {
        display: block;
        position: relative;
        height: auto;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}